<% include partials/top %>
	
	<div class="section">
		<a class="btn btn-info" href="/campgrounds">View all campgrounds</a>
		<a class="btn btn-info" href="/campgrounds/new">Add a new campground!</a>
	</div>

<% include partials/bottom %>