<% include partials/top %>

<div class="row">
	<div class="col-md-12 col-lg-6">
		<img class="small" src="<%= data.image %>" alt="Campground image">
	</div>
	<div class="col-md-12 col-lg-6">
		<h2><%= data.name %></h2>
		<p><%= data.description %></p>
	</div>
</div>

<% include partials/bottom %>