<% include ../partials/top %>

<h1>Browse Campgrounds</h1>
<div class="row">
	<% data.forEach(function(campground) { %>
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div class="card">
			<img class="card-img-top img-fluid" alt="Campground preview" src="<%= campground.image %>" />
			<div class="card-body">
				<h2><%= campground.name %></h2>
				<p>A great campground with beautiful scenery and nature...</p>
				<a href="/campgrounds/<%= campground._id %>">Show more</a>
			</div>
		</div>
	</div>
	<% }); %>
</div>
	

<% include ../partials/bottom %>